 /* Responsive Navigation Menu */
 .topnav {
  background-color: rgb(209, 144, 24);
  border-radius: 10px;
  margin-bottom: 10px;
}

.topnav a {
  display: block;
  color: #ffff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 19px;
}
.topnav a:hover {
  background-color: rgb(209, 144, 24);
  color: black;
}
/* General Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1e9d7;
    color: #333;
    margin: 0;
  }
  
  h2 {
    color: rgb(209, 144, 24);
    margin-bottom: 5px;
  }
  
  /* Container Grid */
  .container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 20px;
    width: 100%;
    max-width: auto;
    margin: auto;
    padding: 25px;
    background-color: #ffff;
    border-radius: 10px;
  }
  
  /* Header */
  header {
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Navigation */
  nav {
    border-radius: 10px;
    padding: 10px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Section Layouts */
  section {
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  #about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    margin-bottom: 15px;
    background-color: #ffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #about-me img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .education-skills {
    display: grid;
    background-color: #ffff;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .experience {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  background-color: #ffff; 
}
  
  .blogs-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  /* Lists */
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 20px;
    list-style: none;
  }
  
  li a {
    color: rgb(193, 156, 107);
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  /* Footer */
  footer {
    background-color: rgb(209, 144, 24);
    color: #fff;
    text-align: center;
  }
  
  @media screen and (max-width: 700px) {
    .container {
      width: 100%;
    }
    nav ul {
      flex-direction: column;
    }
  
    #about-me {
      grid-template-columns: 1fr;
    }
  }
  